<?xml version="1.0"?>
<launch>
  <group ns="/arm">
    <param name="robot_description" command="$(find xacro)/xacro '$(find demonstrator6_description)/urdf/multiple_robots/multiple_robots.urdf.xacro'" />

    <rosparam file="$(find sacc_rec_grasp)/config/arm_controllers.yaml" command="load"/>

    <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" args="arm_joint_state_controller arm_eff_traj_controller">
    </node>

    <node name="joint_state_relay" pkg="topic_tools" type="relay" args="joint_states /joint_states"/>
  </group>

  <group ns="/svh">
    <group ns="svh_ros_control_node">
      <param name="robot_description" command="$(find xacro)/xacro '$(find demonstrator6_description)/urdf/multiple_robots/multiple_robots.urdf.xacro'" />
      <rosparam file="$(find sacc_rec_grasp)/config/svh_controllers.yaml" command="load"/>
      <node name="svh_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
            output="screen" args="svh_joint_state_controller
                                  svh_eff_based_traj_controller_hand
                                  "/>
      <node name="joint_state_relay" pkg="topic_tools" type="relay" args="joint_states /joint_states"/>
    </group>
  </group>
</launch>
