<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find demonstrator6_description)/urdf/ur5e/ur5e_with_hand.urdf.xacro'" />
  <group ns="/ur5e">
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find demonstrator6_description)/urdf/ur5e/ur5e_with_hand.urdf.xacro'" />
    <rosparam file="$(find ur_e_gazebo)/controller/arm_controller_ur5e.yaml" command="load"/>
    <rosparam file="$(find ur_e_gazebo)/controller/joint_state_controller.yaml" command="load"/>
    <rosparam file="$(find demonstrator6_description)/config/ros_controllers_ur5e.yaml" command="load"/>
    <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="joint_state_controller arm_controller gripper_left_effort_controller gripper_right_effort_controller">
    </node>
    <node name="joint_state_relay" pkg="topic_tools" type="relay" args="joint_states /joint_states"/>
  </group>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
  </node>
</launch>
